@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --Primary-Color: rgb(255, 62, 62);
    --Secondary-Color: rgb(255, 200, 0);
}



.height {
    min-height: calc(100vh - 9rem);
}

.width {
    width: calc(100vh - 16rem);
}


.navwidth{
    width: calc(100vw - 1rem);
}


.resp {
    width: 26rem;
}
 
.drop-shadow{
    filter: drop-shadow(20px 5px 10px  black);
}

.light{
    box-shadow: 0px 0px 2rem rgb(255,62,62);
}

.dim-light{
    box-shadow: 0px 0px 0.5rem rgb(255,62,62);
}



@media (max-width: 380px) {
    .last-height {
        height: calc(width - 2rem);

    }
}    

.animate{
    animation: animate 01s infinite linear;
    /* transform: translateX(123%);
    transform: translateY(6%) */
}

@keyframes animate {
    0%{
        box-shadow: 0px 0px 2rem rgb(255,62,62);
    }
    100%{
        box-shadow: 0px 0px 2rem rgb(255, 200, 0)
    }
    
}
